In [58]:
# 분석에 필요한 패키지 불러오기
import os
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, roc_auc_score, roc_curve
import statsmodels.api as sm
import matplotlib.pyplot as plt
import itertools
import time

In [3]:
# 현재경로 확인
os.getcwd()

'/Users/nosangho/Documents/github/Self_study/Linear_Regression'

In [37]:
# 데이터 로드
df = pd.read_csv('./Personal Loan.csv')
df.head(3)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0

In [38]:
# df 둘러보기
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 14 columns):
ID                    2500 non-null int64
Age                   2500 non-null int64
Experience            2500 non-null int64
Income                2500 non-null int64
ZIP Code              2500 non-null int64
Family                2500 non-null int64
CCAvg                 2500 non-null float64
Education             2500 non-null int64
Mortgage              2500 non-null int64
Personal Loan         2500 non-null int64
Securities Account    2500 non-null int64
CD Account            2500 non-null int64
Online                2500 non-null int64
CreditCard            2500 non-null int64
dtypes: float64(1), int64(13)
memory usage: 273.5 KB

In [39]:
# 의미없는 변수 삭제
df = df.dropna().drop(['ID','ZIP Code'], axis=1, inplace=False)

In [40]:
# 회귀분석을 위한 상수항 추가
df = sm.add_constant(df, has_constant='add')
df.head(3)

,const,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1.0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,1.0,45,19,34,3,1.5,1,0,0,1,0,0,0
2,1.0,39,15,11,1,1.0,1,0,0,0,0,0,0

In [41]:
# 설명변수와 반응변수 구분
feature_columns = df.columns.difference(['Personal Loan'])
X = df[feature_columns]
y = df['Personal Loan']

In [42]:
# train / test 셋 구분
train_x, test_x, train_y, test_y = train_test_split(X, y, stratify=y, train_size=0.7, test_size=0.3, random_state=10)

In [43]:
print(train_x.shape, test_x.shape, train_y.shape, test_y.shape)

(1750, 12) (750, 12) (1750,) (750,)

In [51]:
# 로지스틱 회귀모델 모델링
model = sm.Logit(train_y, train_x)
results = model.fit(method='newton')

Optimization terminated successfully.
         Current function value: 0.135023
         Iterations 9

In [57]:
# 분석 결과 확인
results.summary()

AttributeError: module 'scipy.stats' has no attribute 'chisqprob'